<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Attribute</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Edit Attribute: {{ attribute }}</h1>

    <form method="post" action="{{ url_for('update_attribute', attribute=attribute) }}">
        <ul>
            {% for value in values %}
                <li><input type="text" name="value" value="{{ value }}"></li>
            {% endfor %}
        </ul>

        <input type="submit" value="Update">
    </form>

    <a href="{{ url_for('index') }}">Back to Attributes</a>
</body>
</html>
